#============= toolbox ==============
allow toolbox self:capability { dac_override dac_read_search chown fowner };
allow toolbox system_data_file:file { setattr open };
